{% extends 'base.html' %}
{% load static %}




{% block content %}

<div class="container">
      <!-- Example row of columns -->
      <div class="row">

        <div >
          <h3>Learn from Us</h3>
          <p>Automation of Time Consuming and Boring stuffs. How to Browse and Retrieve Online data, Insight of a Webpage, Machine learning modeling of Online Data and More</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>

        </div>
        </div>


               <hr>
    <footer>
        <p>&copy; 2018 PageMatrix, Inc.</p>
      </footer>


{% endblock %}