{% extends 'base.html' %}
{% load static %}




{% block content %}

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h3>Links & E-mails Extractor</h3>
          <p>Links & E-mails Extractor tool Provides you all Internal and External links and emails of Webpage. For Internet research, web page development, security assessments and web page testing and also in seo purposes.

</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h3>Keywords Generator</h3>
          <p> If you have data about website and it's keywords,  Then this tool can help you to identify keywords for your new website request. This tool is based on machine learning and can map a pattern of potential keywords. A keyword generator tool should be a big part of your keyword research strategy for PPC and SEO. Our keyword generator tool is faster and design to learn it's own. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        
      </div>
            

      
    </div> <!-- /container -->
       <hr>
    <footer>
        <p>&copy; 2018 PageMatrix, Inc.</p>
      </footer>

{% endblock %}